.embla {
  width: 100%;
  margin: auto;
  --slide-height: 506px;
  --slide-spacing: 1rem;
  --slide-size: 64%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  cursor: pointer;
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  height: var(--slide-height);
  user-select: none;
  background-color: #2d2d2d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f5f5f5;
  position: relative;
}
.embla__slide__number::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;    /* lets clicks pass through */
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,0.75)
  );
}
.embla__slide__number span {
  position: absolute;
  z-index: 5;
  left: 52px;
  bottom: 24px;
  white-space: nowrap;        /* keep text on one line */
  overflow: hidden;           /* hide overflow */
  text-overflow: ellipsis;
}
