.header {
    height: 52px;
    width: 100vw;
    background-color: rgba(22, 22, 23, 0.8);
    position: fixed;
    backdrop-filter: saturate(180%) blur(20px);
    left: 0;
    top: 0;
    margin-top: 0;
    padding-top: 51px;
    z-index: 1;
}
.header::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    width: 100%;
    inset-inline-start: 0;
    background-color: rgba(255, 255, 255, 0.24);
}

main {
    color: #f5f5f7;
    background-color: #000;
    width: 100vw;
    min-height: 100vh;
    padding: 52px 0px 50px;
    position: relative;
}

.search-wrapper {
    padding: 136px 0px 50px;
    width: 100%;
}

.tagline {
    padding: 0px 24px 24px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: .38px;
    line-height: 34px;
}

.search-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    margin: 0px auto;
}

.search-box input[type='text'] {
    border-radius: 60px;
    color: #f5f5f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 8px 52px 8px 24px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}
.search-box input:focus {
    outline: none;
    text-decoration: none;
}

.search-box .icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.section-1 {
    height: 506px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-wrapper .item {
    background-color: #2d2d2d;
}

.section-1 .item {
    width: 900px;
    height: 506px;
    margin: 0 10px;
    position: relative;
    display: block;
    z-index: 1;
    transform-origin: center center;
    color: #fff;
    background-color: #2d2d2d;
    border-radius: 20px;
    float: left;
    flex-shrink: 0;
}
.section-1 .item.active {
    z-index: 2;
}

.cta-wrapper {
    text-align: center;
    position: relative;
}

.cta-wrapper a {
    text-decoration: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    min-width: 26px;
    padding: 12px 22px;
    font-size: 14px;
    line-height: 1.4285914286;
    letter-spacing: -0.016em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    margin: 18px auto 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.icon {
    stroke: #fff;
    width: 24px;
    height: 24px;
}
.icon path {
    stroke: #fff;
}