.header {
    height: 52px;
    width: 100vw;
    background-color: rgba(22, 22, 23, 0.8);
    position: fixed;
    backdrop-filter: saturate(180%) blur(20px);
    left: 0;
    top: 0;
    margin-top: 0;
    padding-top: 51px;
    z-index: 10;
}
.header::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    width: 100%;
    inset-inline-start: 0;
    background-color: rgba(255, 255, 255, 0.24);
}

main {
    color: #f5f5f7;
    background-color: #000;
    width: 100vw;
    min-height: 100vh;
    padding: 32px 0px 50px;
    position: relative;
}

.search-wrapper {
    padding: 136px 0px 50px;
    width: 100%;
}

.tagline {
    padding: 0px 24px 24px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: .38px;
    line-height: 34px;
}

.search-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 720px;
    padding-inline: .625rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-clip: padding-box;
    border-radius: 28px;
    margin: 0px auto;
    overflow: clip;
    cursor: text;
}
.search-box.expand {
    align-items: flex-end;
}
.search-box.expand textarea {
    border-radius: 20px !important;
}
.search-box.expand svg {
    bottom: 24px;
}

.search-box textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 400;
    font-size: 18px;
    padding: .635rem 3.36rem .635rem 1.36rem;
    height: 1lh;
    box-sizing: content-box;
    border-radius: 60px;
    color: #f5f5f7;
    resize: none;
    width: 100%;
    max-height: 230px;
    word-wrap: break-word;
    letter-spacing: .2px;
    white-space: break-spaces;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.search-box textarea:focus, .search-box textarea:active {
    outline: none;
    text-decoration: none;
}
.search-box textarea:disabled {
    cursor: default;
}

.search-box .icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    border-radius: 36px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 120ms ease all;
}
.search-box .icon:hover {
    background-color: #2d2d2d;
}
.search-box .icon svg {
    width: 24px;
    height: 24px;
}

.section-wrapper {
    padding: 36px 0px 0px;
}

.cta-wrapper {
    text-align: center;
    position: relative;
}

.cta-wrapper a {
    text-decoration: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    min-width: 26px;
    padding: 12px 22px;
    font-size: 14px;
    line-height: 1.4285914286;
    letter-spacing: -0.016em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    margin: 70px auto 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.icon {
    stroke: #fff;
    width: 24px;
    height: 24px;
}
.icon path {
    stroke: #fff;
}

.chat-wrapper.chat-expand {
    position: fixed;
    inset: 0;
    top: 52px;
    z-index: 5;
    background-color: #0e0e0e;
    padding: 0px 0px 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.chat-expand .chat-area {
    min-height: calc(100vh - 120px);
}
.chat-expand textarea {
    margin: 0px auto;
}

.close-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.chat-log {
    position: relative;
    padding: 0rem 4rem;
    max-width: 48rem;
    width: 100%;
    max-height: calc(100vh - 324px);
    margin: auto;
    margin-bottom: 2.5rem;
    overflow: scroll;
}

.user-msg, .agent-msg {
    background-color: #1a1a1a;
    border-radius: 1.25rem;
    padding: .75rem 1.25rem;
    margin: 1rem 0;
    max-width: 80%;
    width: max-content;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: .2px;
    word-break: normal;
    overflow: scroll;
}
.user-msg p, .agent-msg p {
    margin: 0;
}
.user-msg {
    background-color: #3d3d3d;
    margin: 0 0 0 auto;
}